
html {
    position: relative;
    height: 100%;
}
body{
    font-family: 'proxima-nova';
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
}
body.hand { cursor: url(../images/cursor.cur), default !important; }
body.closed-hand { cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important; }
body.index,
body.page-404 {
    /*background: #72C9B9;*/
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

a{
	color: #555;
	text-decoration: none;
    cursor: url(../images/cursor.cur), default !important;
}





/* header start */
.site-header {
    position: relative;
    overflow: hidden;
    left: 2.2%;
    top: 3.91%;
    right: 2.2%;
    z-index: 4;
}
.site-header .nav-trigger {
    background: #72C9B9 url(../images/trigger-white.png) left top no-repeat;
    float: left;
    cursor: url(../images/cursor.cur), default !important;    
    margin-top:0px;
    width: 50px;
    height: 50px;
    color: #72C9B9;
    font-size: 14px;
    
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    position: relative;

    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}
.site-header .nav-trigger .nav-trigger-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    margin-top: -16px;

    -webkit-transition: all 20000ms linear;
    -o-transition: all 20000ms linear;
    -moz-transition: all 20000ms linear;
    transition: all 20000ms linear;
}
.site-header .nav-trigger .nav-trigger-line {
    background: #fff;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    margin-top: 8px;
    width: 4px;
    height: 10px;
}
.site-header .nav-trigger .nav-trigger-inside.rotated {
    transform: rotate(3600deg);
    -ms-transform: rotate(3600deg);
    -webkit-transform: rotate(3600deg);
    -o-transition: rotate(3600deg);
}
.site-header .nav-trigger .nav-trigger-inside.rotated .nav-trigger-line { display: block; }

.show-sidebar .site-header .nav-trigger {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transition: rotate(90deg);
}
.site-header .nav-trigger:hover,
.site-header.green .nav-trigger:hover {
    /*border-color: #c6f4d4;
    background-color: #c6f4d4;*/
}
.site-header .site-menu {
    margin-left: 30px;
    float: left;
    text-transform: uppercase;
}

.site-header .site-menu a {
    margin-right: 18px;
    font-family: 'proxima-nova';
    font-size: 16px;
    text-decoration: none;
    color: #000;
    line-height: 50px;
    display: none;
    opacity: 0;
    font-weight:bold;

    -webkit-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    transition: color 100ms linear;
}


.site-header .site-menu.show a { display: inline-block; }
.site-header.green .site-menu a.active,
.site-header .site-menu a.active,
.site-header .site-menu a:hover { color: #000; }
.site-header .social-bar {
    float: right;
    overflow: hidden;
}

.site-header .social-link {
    float: left;
    margin-right: 10px;
    border: 3px solid #ffa800;
    width: 26px;
    height: 26px;
    color: #ffa800;
    font-size: 12px;
    border-radius: 16px;
    text-align: center;
    line-height: 26px;
    text-decoration: none;

    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}
.site-header .social-link:last-child { margin-right: 0px; }
.site-header .social-link .icon-ff { font-size: 17px; }
.site-header .social-link:hover {
    color: #000;
    border-color: #000;
}
/* header end */

.site-content { margin: 0px auto; }
.site-content.full-height {
    height: 100%;
    position: relative;
}
.center-column {
    margin: 0px auto;
    width: 72.47%;
}
.content-frame,.content-frame1 {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    padding-top: 130px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.content-frame #content-frame-mask,.content-frame #content-frame-mask1 {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;    
    height: 80px;
    z-index: 3;
    background-color:#f8f8f8;
}

.site-menu a{
    display: inline-block !important;
    opacity: 1 !important; 
}

.navbar {
    clear: both;
}