@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}


.navibar h2 {
	font-weight: 300;
	text-align: center;
	color: #158cba;
	text-transform: uppercase;
}

aside {
	background-color: white;
	position: absolute;
	width: 200px;
	/* border: solid 1px #e3e3e3; */
	border-top: 1px solid #158cba;
	padding: 0px 10px 0px 10px;
}

.navibar h3 {
	font-weight: 100;
	font-size: 22px;
	margin: 5px 0;
}

.navibar ul {
	display: block;
	margin: 0;
	padding: 0 !important;
}

.navibar li {
	border: solid 1px #e3e3e3;
	border-left: 5px solid #158cba;
	margin: 10px 0;
	list-style: none;
}

.navibar li a {
	display: block;
	padding: 10px;
	color: #333;
	text-decoration: none;
}


.navibar li a:hover { 
	@include transition;
	background: #e3e3e3;
	color: #158cba;
	text-decoration: none;
}


@media ( max-width : 980px) {
	aside 
	{
		position: relative;
		border: solid 1px #e3e3e3;
		border-top: 1px solid #158cba;
		width: 100%;
	}
	.navibar ul {
		display: none;
	}
	
	
}
