.navibar h2 {
	font-weight: 300;
	text-align: center;
	color: #158cba;
	text-transform: uppercase;
}

aside {
	width: 250px;
	border: solid 1px #e3e3e3;
	border-top: 1px solid #158cba;
	padding: 0px 10px 0px 10px;
}

.navibar h3 {
	font-weight: 100;
	font-size: 22px;
	margin: 5px 0;
}

.navibar ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navibar li {
	border: solid 1px #e3e3e3;
	border-left: 5px solid #158cba;
	margin: 10px 0;
}

.navibar li a {
	display: block;
	padding: 10px;
	color: #333;
	text-decoration: none;
}

.navibar li a:hover { @include transition;
	background: #e3e3e3;
	color: #158cba;
	text-decoration: none;
}

}
@media ( max-width : 1000px) {
	aside {h3 { cursor:pointer;
		position: relative;
	}
	.navibar ul {
		display: none;
	}
	.arrow-down {
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid orange;
		position: absolute;
		right: 0;
		top: 7px;
	}
}
}