td.Dash-column { vertical-align: top; }

/*대쉬보드 영역*/
div.DashboardSection {margin: 15px;background: #FCFCFC;border: 1px dashed #BBBBBB;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;display: none;}

div.BoxContents {background: white;position: relative;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border: 1px solid #CCCCCC;margin: 15px;z-index: 5;}
div.BoxContents.dragging { z-index: 10; }

/* 타이틀 */
h1.BoxTitle {border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;border-bottom: 1px solid #CCCCCC;font-size: 12px;font-family:돋움;letter-spacing:-1px;padding: 3px;margin: 0;background: #EEEEEE url("/resources/images/header.png") repeat-x;}
div.BoxContents.collapse h1.BoxTitle {border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-bottom: 0;}
div.BoxTitle-title {padding: 6px 12px;cursor: move;color: #555555;}
div.BoxTitle-title:hover { color: black; }
div.BoxTitle-title:hover span.sub-title { color: #666666; }

div.BoxTitle-collapse {display: none;border-left: 1px solid #CCCCCC;height: 25px;width: 30px;background: url("/resources/images/arrow-up.png") no-repeat center 10px;cursor: default;}
div.BoxContents.collapse div.BoxTitle-collapse {background: url("/resources/images/arrow-down.png") no-repeat center 11px;}
div.BoxContents:hover div.BoxTitle-collapse { display: block; }

/*툴바*/
div.BoxToolbar {padding: 6px 2px;margin: 0 7px;font-weight: normal;color: #555555;border-top: 1px solid #DDDDDD;font-family: 돋움;font-size: 12px;text-shadow: none;}

/* 박스 내용 영역 */
div.BoxBody {font-size: 12px;font-family: 돋움;color: #444444;padding: 15px;overflow: hidden;border-radius: 0 0 4px 4px;-moz-border-radius: 0 0 4px 4px;-webkit-border-radius: 0 0 4px 4px;background: white;}

div.BoxContents ul {margin: 0;padding: 0;padding-left: 20px;list-style-type: square;font-size: 12px;}
div.BoxContents ul li {margin: 4px 0;padding: 0;}
div.BoxContents p { margin: 10px 0; }
div.BoxContents p:first-child { margin-top: -10px; }
div.BoxContents p:last-child { margin-bottom: 0; }

div.BoxContents a {color: #4F81BD;text-decoration: none;}
div.BoxContents a:hover { text-decoration: underline; }

div.BoxContents h2 {color: #333333;font-family:돋움;font-size: 12px;margin: 4px 0;}
div.BoxContents input[type="text"], div.BoxContents textarea {padding: 5px 6px;border: 1px solid #CCCCCC;color: black;-moz-border-radius: 2px;font-size: 12px;width: 200px;margin: 0;font-family: 돋움;color: #555555;}
div.BoxContents textarea { height: 80px; }
div.BoxContents input[type="text"]:focus, div.BoxContents textarea:focus {color: black;border-color: #999999;}

/* div.BoxContents button::-moz-focus-inner { border: none; }
div.BoxContents button {-moz-border-radius: 2px;background: #D7D7D7 url("/resources/images/button.png") repeat-x;border: 1px solid #C0C0C0;padding: 4px 9px;font-size: 12px;font-family: 돋움;color: black;cursor: pointer;}
div.BoxContents button:active {border-color: #888888;background: #9E9E9E url("/resources/images/button-pressed.png") repeat-x;color: #EEEEEE;}
 */
h1.BoxTitle button { -moz-box-shadow: #F5F5F5 1px 1px 0; }

div.Dash.plus-minus div.BoxTitle-collapse {background: url("/resources/images/minus.png") no-repeat center 9px;}
div.Dash.plus-minus div.BoxContents.collapse div.BoxTitle-collapse {background-image: url("/resources/images/plus.png");}
div.Dash.padded div.BoxContents h1.BoxTitle {border: 1px solid #CCCCCC !important;}
div.Dash.padded div.BoxContents, div.Dash.padded div.DashboardSection { padding: 4px; }

/**윤오가 필요로 한 공통 css*/

.BoxTitle{
	background: #158cb !important;
	color: #ffffff !important;
}