@CHARSET "UTF-8";

/* 전체 공통 스타일  */
a {
	text-decoration: none !important;
}

a:link {
	color: black;
}

a:visited {
	color: #8C8C8C;
}

a:hover {
	color: #1245AB;
}

.likeImg {
	width: 30px;
	height: 30px;
}

.jungyo_menu a {
	background: #ffffff;
}

.tableCustom th {
/* 	background: #D1E0EF; */
}

.customSideBar{
	position: absolute;
	height: 300px;
}
.dropdownCus ul li a:hover{
	background: #ffffff !important;
}


.divider {
	background: #eeeeee !important;
}


@media ( max-width : 767px) {
	#sectionBar {
		display: none;
	}
	#userIcon {
		display: inline;
		margin-left: 15px;
	}
	#noteIcon {
		display: inline;
	}
	#noteIcon a {
		display: inline;
	}
	.app {
		display: none;
	}
	#main_icon {
		display: none;
	}
}

@media (max-width: 1200px){
	.dropdownCus ul li a:hover{
	background: #f8f8f8 !important;
}
}


.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.footer{
	bottom: 0px; 
	position:absolute; 
	background-color: #f8f8f8; 
	width: 100%;
	padding: 15px;
}

